<div class="formularioRegistro">
  <h2>Crear libro</h2>

  <form [formGroup]='libroForm' (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Tematica</label>
      <select name="tematica" id="tematica" formControlName="tematica" class="form-control">
        <option [ngValue]="item" *ngFor="let item of tematicas">{{item.nombre}}</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="libroForm.invalid">Guardar</button>

  </form>
</div>

<div  class="formularioRegistro">
  <h2>Libros Registradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tematica</th>
        <th>Biblioteca</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tr *ngFor="let item of libros">
      <td>{{item.idLibro}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.tematica.nombre}}</td>
      <td>{{item.biblioteca.nombre}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </td>
    </tr>
  </table>

</div>


<router-outlet></router-outlet>